<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section},~{::title})">
<head>
	<meta charset="UTF-8" />
	<title>Register</title>
</head>
<body>
<section>
	<section class="vh-50" style="background-color: #eee;">
		<div class="container h-100">
		  <div class="row d-flex justify-content-center align-items-center h-100">
			
			<div class="col-lg-12 col-xl-11 mt-4 mb-3">
				
			  <div class="card text-black" style="border-radius: 25px;">
				
				<div class="card-body p-md-5">
				  <div class="row justify-content-center">
					<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
	  
					  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
					  
					  <div class="alert" role="alert" th:if="${Message}" th:text="${Message.name}" th:classappend="${Message.type}">
					
					  </div>
					  <form class="mx-1 mx-md-4" th:action="@{/register}" method="post" th:object="${User}">
	  
						<div class="d-flex flex-row align-items-center mb-4">
						  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
						  <div class="form-outline flex-fill mb-0">
							<input type="text" id="form3Example1c" class="form-control" th:value="${User.name}" name="name" th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"  />
							<!-- <div class="invalid-feedback">Invalid Data</div> -->
							<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}"></div>
							<label class="form-label" for="form3Example3c" th:unless="${#fields.hasErrors('name')}">Your Name</label>
						
						  </div>
						</div>
	  
						<div class="d-flex flex-row align-items-center mb-4">
						  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
						  <div class="form-outline flex-fill mb-0">
							<input type="email" id="form3Example3c" class="form-control" th:value="${User.email}" name="email"  th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"/>
							<div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}"></div>
							<label class="form-label" for="form3Example3c" th:unless="${#fields.hasErrors('email')}">Your Email</label>
						  </div>
						</div>
	  
						<div class="d-flex flex-row align-items-center mb-4">
						  <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
						  <div class="form-outline flex-fill mb-0">
							<input type="password" id="form3Example4c" class="form-control" th:value="${User.password}" name="password"  th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"/> 
							<div class="invalid-feedback" th:each="e:${#fields.errors('password')}" th:text="${e}"></div>
							<label class="form-label" for="form3Example3c" th:unless="${#fields.hasErrors('password')}">Password</label>
						  </div>
						</div>
	  
						<div class="d-flex flex-row align-items-center mb-4">
						  <i class="fas fa-key fa-lg me-3 fa-fw"></i>
						  <div class="form-outline flex-fill mb-0">
							<input type="password" id="form3Example4cd" class="form-control" th:value="${User.password}"  th:classappend="${#fields.hasErrors('password')?'is-invalid':''}" />
							<div class="invalid-feedback" th:each="e:${#fields.errors('password')}" th:text="${e}"></div>
							<label class="form-label" for="form3Example3c" th:unless="${#fields.hasErrors('password')}">Repeat your password</label>
						  </div>
						</div>
	  
						<div class="form-check d-flex justify-content-center mb-5">
						  <input class="form-check-input me-2" type="checkbox" id="form2Example3c" name="agreement" />
						  <label class="form-check-label" for="form2Example3">
							I agree all statements in <a href="#!">Terms of service</a>
						  </label>
						</div>
	  
						<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
						  <button type="submit" class="btn btn-primary btn-lg">Register</button>
						</div>
	  
					  </form>
	  
					</div>
					<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
	  
					  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
						class="img-fluid" alt="Sample image">
	  
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div
		class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
		<!-- Copyright -->
		<div class="text-white mb-3 mb-md-0">
		  Copyright © 2020. All rights reserved.
		</div>
		<!-- Copyright -->
	
		<!-- Right -->
		<div>
		  <a href="#!" class="text-white me-4">
			<i class="fab fa-facebook-f"></i>
		  </a>
		  <a href="#!" class="text-white me-4">
			<i class="fab fa-twitter"></i>
		  </a>
		  <a href="#!" class="text-white me-4">
			<i class="fab fa-google"></i>
		  </a>
		  <a href="#!" class="text-white">
			<i class="fab fa-linkedin-in"></i>
		  </a>
		</div>
		<!-- Right -->
	  </div>
	  </section>
	
</section>
</body>
</html>